* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: burlywood;
}

/* Headding */

#header-bar {
    background: rgb(255, 221, 170);
    height: 120px;
    width: 100%;
    display: flex;
}

#logo {
    float: left;
    size: 150px;
    padding-top: 40px;
    padding-left: 40px;
    display: block;
}

/* #header-img {
    float: right;
    padding-left: 40px;
    border-radius: 20px;
} */

#content-square {
    height: 850px;
    width: 100%;
    background-color: #806443;
    justify-content: center;
}

#square-outer {
    width: 60%;
    float: left;
}

/*#square {
    border: 4px solid #E1BB80;
}*/

#square-outer-right {
    width: 30%;
    float: right;
    text-align: center;
    padding-right: 160px;
}


#square-right {
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: 55px;
}

.background {
    background: burlywood;
    height: 100vh;
    padding-top: 1px;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.display {
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;

   /* margin-top: 1em;
    margin-bottom: 1em;*/
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    /*max-width: 300px;*/
    height: 720px;
    width: 720px;
    margin-top: 65px;

}

.tile {
    border: 4px solid #E1BB80;
    /*border: 1px solid white;*/
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.sticks {
    color: #000000;
}

.playerO {
    color: #f1e19a;
    size: 20px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 50px;
    margin-left: 1em;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 100px;
}

.restart {
    background-color: #f7d8a0;
}

#reset {
    background-color: #d6a750;

}

#instructions-title{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;

}

.instructions {
    font-size: large;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}